<div class="task-card">
    <div class="task-description">
      <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quos consequuntur deleniti libero quidem nesciunt, voluptas sunt. Nobis explicabo sequi quam officiis, ducimus quisquam. Voluptate nobis inventore obcaecati. Illo, eos?</h4>
    </div>
    <div class="details-container">
      <div class="status-date-container">
        <p>Status: COMPLETED</p>
        <p>Due Date: 2024-03-01</p>
      </div>
      <div class="buttons-container">
        <button class="edit-button">Edit</button>
        <button class="delete-button">Delete</button>
      </div>
    </div>
  </div>