  <div *ngFor="let chore of chores" class="task-card">
    <div class="task-description">
      <h4>{{chore.description}}</h4>
    </div>
    <div class="details-container">
      <div class="status-date-container">
        <p class="status">{{chore.state.name}}</p>
        <p>Due Date: {{ chore.dueDate.split('T')[0] }}</p>
      </div>
      <div class="buttons-container">
        <button class="edit-button" (click)="openUpdateDialog(chore)">Edit</button>
        <button class="delete-button" (click)="openDeleteDialog(chore.id)">Delete</button>
      </div>
    </div>
  </div>
  