@import './assets/css/theme-light.css';
@import './assets/css/theme-dark.css';
@import './assets/css/reset.css';
@import './assets/css/general-colors.css';

html {
    font-size: 10px;
    height: 100%;
 }

 body {
    font-family: 'Rubik', Helvetica, sans-serif;
    font-size: 1.4rem;   
    background: var(--body-background);
    color: var(--main-text-color);
    scrollbar-color: var(--color-scrollbar-light) var(--color-scrollbar-light);
    scrollbar-width: thin;
 }

 body::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-light);
 }
 
 body::-webkit-scrollbar {
    width: 0.7rem;
    background: var(--color-scrollbar-light);
 }
 
 h1 {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1.5rem;
 }
 
 h4 {
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 1rem;
 }