    <div class="new-task-container">
      <button class="new-task-button">New Task</button>
    </div>
    <div *ngFor="let chore of chores" class="task-card">
      <div class="task-description">
        <h4>{{chore.description}}</h4>
      </div>
      <div class="details-container">
        <div class="status-date-container">
          <p>Status: {{chore.state.name}}</p>
          <p>Due Date: {{chore.dueDate}}</p>
        </div>
        <div class="buttons-container">
          <button class="edit-button">Edit</button>
          <button class="delete-button">Delete</button>
        </div>
      </div>
    </div>
    